.card {
  border: 1px solid #87a5ef;
  padding: 12px;
  color: #1d2e5c;
  border-radius: 8px;
  height: 100px;
  display: flex;
  background-color: #edf2fe;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  height: 60px;
  /* background-color: yellow; */
  object-fit: contain;
}

.imgContainer img {
  height: 100%;
  object-fit: contain;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.bikeDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 8px 0px;
}

.bikeTypeLabel {
  font-size: 1.4rem;
}

.bikeTypeDuration {
  font-size: 1rem;
}

.section2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0px;
}
.actionContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cancelBtn {
  padding: 6px 8px;
  background-color: red;
  border: 1px solid red;

  color: white;
  border-radius: 4px;
  cursor: pointer;
}
